@model E_ccomerce_Task2.Models.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
    
     <!-- Site CSS -->
     <link rel="stylesheet" href="~/css/Home/style.css">
        <link rel="stylesheet" href="~/css/Home/owl.carousel.min.css">
       <link rel="stylesheet" href="~/css/Home/owl.theme.default.min.css">
  
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/Home/responsive.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
    ViewData["Title"] = "Reset Password";
 }
 <style>
    .text-info
    {
         color: #b0b435;
    }
    .hvr-hover{
        display:block;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        width: 200px;
        margin-bottom:30px;
    }
    .form-control{
        margin-bottom:10px;
        border:2px solid #b0b435
    }
 </style>
<section class="form-v10" style="padding: 30px 0px;">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Reset Password</h1>
                </div>
            </div>
        </div> 
         
        <div class="row">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                           	<div asp-validation-summary="All" class="text-danger"></div>

                           
                            <div class="form-floating ">
								<input asp-for="NewPassword" type="password" class="form-control"  placeholder="   " name="NewPassword">
								<label asp-for="NewPassword" class="text-info">New Password</label>  
								<span asp-validation-for="NewPassword" class="text-danger"></span>  
						    </div>
                             <div class="form-floating ">
								<input asp-for="ConfirmPassword" type="password" class="form-control"  placeholder="   " name="ConfirmPassword">
								<label asp-for="ConfirmPassword" class="text-info"> Reneter Password</label>  
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>  
						    </div>
                            <input type="hidden" asp-for="Email" class="form-control" />
                            <input type="hidden" asp-for="Token" class="form-control" />
                            <div class="form-group">
                                <input type="submit" class="btn hvr-hover" name="resetPassword" value="Save">
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
   <!-- ALL JS FILES -->
    <script src="~/js/Home/jquery-3.2.1.min.js"></script>
    <script src="~/js/Home/popper.min.js"></script>

    <!-- ALL PLUGINS -->
    <script src="~/js/Home/jquery.superslides.min.js"></script>
    <script src="~/js/Home/bootstrap-select.js"></script>
    <script src="~/js/Home/inewsticker.js"></script>
    <script src="~/js/Home/bootsnav.js."></script>
    <script src="~/js/Home/images-loded.min.js"></script>
    <script src="~/js/Home/isotope.min.js"></script>
    <script src="~/js/Home/owl.carousel.min.js"></script>
    <script src="~/js/Home/main.js"></script>
    <script src="~/js/Home/baguetteBox.min.js"></script>
    <script src="~/js/Home/form-validator.min.js"></script>
    <script src="~/js/Home/contact-form-script.js"></script>
    <script src="~/js/Home/custom.js"></script>



