@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item ">
    <a  class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="myAccount"  title="WishLest"><i class="fa-solid fa-heart fa-2x"></i></a>
    </li>
    <li class="nav-item ">
    <a  class="nav-link text-dark" asp-area="" title="Cart" asp-action="Cart" asp-controller="OnlineStore"> <i class="fa fa-shopping-cart fa-2x"></i></a>
    </li>
    <li class="nav-item ">
    <a  class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="myAccount"  title="My Account"><i class="fa fa-user-circle-o fa-2x"></i></a>
    </li>
     
   
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><b>Logout</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register"><b>Sign Up</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><b>Login</b></a>
    </li>
}
</ul>
