@model IEnumerable<Categorie>
@{
     <!-- Site CSS -->
     <link rel="stylesheet" href="~/css/Home/style.css">
        <link rel="stylesheet" href="~/css/Home/owl.carousel.min.css">
       <link rel="stylesheet" href="~/css/Home/owl.theme.default.min.css">
  
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/Home/responsive.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    ViewData["Title"] = "Categories";
}
  <div class="products-box" style="padding: 30px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Categories</h1>
                        <p>Some of our special categories </p>
                    </div>
                </div>
            </div> 
           
       
              <div class="row special-list" style="margin:20px">
            @foreach(var item in Model)
            {
               
                     <div class="col-sm-6 col-md-6 col-lg-4  special-grid best-seller">
                    <div class="products-single fix"style="    width: fit-content;">
                        <div class="box-img-hover" style="width:300px">
                          
                            <img src=@item.Image class="img-fluid" alt="Image">
                            <div class="mask-icon">
                               
                                <a style="left: 50%; transform: translateX(-50%);" class="cart" asp-action="viewProducts" asp-controller="OnlineStore" asp-route-categoryId="@item.Id">View Products</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h3 style="text-align:center;">@item.Name</h3>
                           
                        </div>
                    </div>
                </div>

               

            }
           

            </div>
        </div>
    </div>
   @*     <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
                        <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Mobiles</h4>
                    <p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
                </div>
            </div>
        </div>
     *@

        <!-- ALL JS FILES -->
    <script src="~/js/Home/jquery-3.2.1.min.js"></script>
    <script src="~/js/Home/popper.min.js"></script>

    <!-- ALL PLUGINS -->
    <script src="~/js/Home/jquery.superslides.min.js"></script>
    <script src="~/js/Home/bootstrap-select.js"></script>
    <script src="~/js/Home/inewsticker.js"></script>
    <script src="~/js/Home/bootsnav.js."></script>
    <script src="~/js/Home/images-loded.min.js"></script>
    <script src="~/js/Home/isotope.min.js"></script>
    <script src="~/js/Home/owl.carousel.min.js"></script>
    <script src="~/js/Home/main.js"></script>
    <script src="~/js/Home/baguetteBox.min.js"></script>
    <script src="~/js/Home/form-validator.min.js"></script>
    <script src="~/js/Home/contact-form-script.js"></script>
    <script src="~/js/Home/custom.js"></script>